*{
    margin: 0;
}

#player-health {
    width: 200px;
    height: 20px;
    background-color: green;
}

#monster-health {
    width: 200px;
    height: 20px;
    background-color: red;
}

.health-bar {
    display: flex;
    justify-content: flex-end;
    transition: width 1s;
    color: white;
    border-radius: 5px;
}

img{
    padding: 30px;
}

html{
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#app{
    position: fixed;
    top: 10vh;
    margin-left: 25%;
    width: 600px;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "playerHP monsterHP"
        "playerIcon monsterIcon"
        "playerDamage monsterDamage"
        "fightButton fightButton"   
        "results results" 
    ;
    grid-template-columns: 300px 300px;
    grid-template-rows: 50px 300px 50px 50px 100px;
    align-items: center;
    text-align: center;
}

#player-health{
    grid-area: playerHP;
    align-content: center;
    box-shadow: 3px 3px rgb(2, 88, 2);
}

#monster-health{
    grid-area: monsterHP;
    box-shadow: 3px 3px rgb(161, 3, 3);
}

#player{
    grid-area: playerIcon;
    width: 300px;
    height: 250px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

#player > img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

#monster{
    grid-area: monsterIcon;
    width: 300px;
    height: 250px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}
#monster > img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

#fight{
    grid-area: fightButton;
    height: 50px;
    font-size: 1rem;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#fight:hover{
    cursor: pointer;
}

#player-damage-taken{
    grid-area: playerDamage;
}

#monster-damage-taken{
    grid-area: monsterDamage;
}

#results{
    grid-area: results;
    color: ivory;
    font-size: 2rem;
}

